
.bottomabout {
    position:absolute;
      background-color: #cbac91;
    
      text-align: center;
     width: 100%;
      height: 100px ;
      margin-top: 40px;
    }
    .bottomabout h1{
      font-size: 20px;
  margin-left: -1240px;
  margin-top: 10px;
  color: black;
  
    }
    
    .bottomabout h2{
      font-size: 20px;
      color: black;
      margin-left: 50px;
    }
    .bottomabout h3{
      font-size: 20px;
      color: black;
      margin-top: -70px;
      margin-left: 1100px;
    
    }
    .feb{
      margin-top: -45px;
      margin-left: 1100px;
    }
    .insta{
      
      margin-left: 1000px;
  
    }

    .aboutconatiner{
        background-color: aliceblue;
        width: 600px;
        color: black;
        height: 250px;
        border-radius: 20px;
        margin-left: 50px;
        margin-top: -30px;
    }
    .aboutconatiner p{
        font-size: 20px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 0.5px;
        word-spacing: 1px;

    }
    .aboutcontainer1{
        width: 700px;
        height: 500px;
        background:black;
      
        margin-left: 750px;
        margin-top: -250px;
        border-radius: 20px;
    }
   .aboutmukitnath{
    position: absolute;
    width:250px ;
    border-radius: 20px;
    height: 200px;
    margin-left: 230px;
    margin-top: 10px;
   }
   .marpha{
    position: absolute;
    width:200px ;
    border-radius: 20px;
    height: 285px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
   }
   .winter{
    position: absolute;
    width:250px ;
    border-radius: 20px;
    height: 200px;
    margin-left: 230px;
    margin-top: 290px;
    margin-right: 10px;
   }
.pokharaabout{
    position: absolute;
    width:200px ;
    border-radius: 20px;
    height: 190px;
    margin-left: 490px;
    margin-top: 300px;
    margin-right: 10px;

}
.abc{
    position: absolute;
    width:210px ;
    border-radius: 20px;
    height: 190px;
    margin-left: 10px;
    margin-top: 300px;
    margin-right: 10px;

}
.aboutkalinchowk{
    position: absolute;
    width:200px ;
    border-radius: 20px;
    height: 285px;
    margin-left: 490px;
    margin-top: 10px;
    margin-right: 10px;
   }
   .abouth1{
    position: absolute;
 
    background: white;
    width: 250px;
    height: 60px;
    margin-left: 230px;
    border-radius: 20px;
    


    margin-top: 220px;
   }
.abouth1 h1{
    font-size:20px ;
    color: black;
    padding: 2px 0px 2px 8px;
    line-height: 1.2;

}
   