.bookingcontainer{
    background:white;
    height: 170vh;
    width: 900px;
   
    margin-left: 300px;
    margin-top: -30px;
}
 .h1booking{
    color: red;
    font-weight:bolder ;
    font-size: 30px;
   
    margin-left: 50px;
    margin-bottom: 30px;

}
.h1tour{
    color: #000;
    font-weight:bolder ;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;

}
.bookingcontainer1{
    background: #faf3ed;
    color: #000;
    border-radius: 20px;
    width: 850px;
    height: 35vh;
    margin-left: 25px;
    margin-top: 20px;
}
.bookingimg{
    height: 25vh;
    width: 240px;
    margin: 30px 20px 20px 40px;

}
.bookingcontainer2{
    background:white;
   width: 450px;
   height: 220px;
   margin: -250px 10px 100px 350px;
   border-radius: 20px;
    
}
.bookingcontainer2 p{
    margin-top: -20px;
    font-weight: bolder;
    font-size: 20px;
    line-height: 3;
}
.bookingcontainer h2
{
    color: red;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
.bookingcontainer3{
    background:#faf3ed;
    border-radius: 20px;
    width: 850px;
    height: 102vh;
    margin-left: 5px;
    margin-top: 20px;
}
.nameh1, .contacth1, .emailh1,.dateh1, .messageh1{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
    
}
.peopleh1{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 1px;
    

}
.name,.contact,.email,.date,.people{
    margin-left: 20px;
    font-size: 25px;
    height: 40px;
    width: 90%;
    background-color:white;
    color:black;
    margin-bottom: 15px;
    border-radius: 10px;

}
.submit{
    margin-left: 20px;
    font-size: 25px;
    height: 50px;
    width: 90%;
background:orange;
    border-radius: 10px;

}
.last{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}
.message{
    margin-left: 20px;
    font-size: 25px;
    height: 100px;
    width: 90%;
    background-color:white;
    color:black;
    margin-bottom: 15px;
    border-radius: 10px;

}
.journey{ 
    background-color: aliceblue;

}