.bottom {
    background-color: #cbac91;
    padding: 20px 0;
    text-align: center;
    margin-top: 52px;
  }
  .bottom h1{
    font-size: 20px;
margin-left: -1240px;
margin-top: 10px;
color: black;

  }
  
  .bottom h2{
    font-size: 20px;
    color: black;
    margin-left: 50px;
  }
  .bottom h3{
    font-size: 20px;
    color: black;
    margin-top: -70px;
    margin-left: 1100px;
  
  }
  .feb{
    margin-top: -45px;
    margin-left: 1100px;
  }
  .insta{
    
    margin-left: 1000px;

  }
  