


body {
  position:absolute;
  display: flex;
  /* Full viewport height */
  background-color: #f4dfcd;
  overflow:auto ; /* Prevent any overflow */
}
.services{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  background-color: #f4dfcd;
    
 /* background-color: rgba(255, 255, 255, 0.5); White with 50% transparency */
  margin-top: -145px;
}
.servicebtn1,.servicebtn2,.servicebtn3{
    
  
 
  
  background-color: whitesmoke;
  color: black;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 120px;
  margin-right: 80px;
}

.container1,.container3, .container5{
  margin-bottom: 50px;
  margin-left:200px ;
  background-color: #faf3ed;
 
  width: 1150px;
  height: 300px;
  border-radius: 25px;
}
.muktinath, .rara ,.pokhara,.kalinchowk{
  height: 250px;
  width: 350px;
  margin: 25px 50px 25px 50px;
  border-radius: 20px;
}
.container2,.container4{
  background-color: white;
  color: #000;
  font-weight: bolder;
  line-height: 2.3;
  width: 600px;
  height: 250px;
  margin-left:  500px;
  margin-top:-280px;
  border-radius: 20px;
}


.bottompackages {
  position:absolute;
    background-color: #cbac91;
  
    text-align: center;
   width: 100%;
    height: 100px ;
    margin-top: 122px;
  }
  .bottompackages h1{
    font-size: 20px;
margin-left: -1240px;
margin-top: 10px;
color: black;

  }
  
  .bottompackages h2{
    font-size: 20px;
    color: black;
    margin-left: 50px;
  }
  .bottompackages h3{
    font-size: 20px;
    color: black;
    margin-top: -70px;
    margin-left: 1100px;
  
  }
  .feb{
    margin-top: -45px;
    margin-left: 1100px;
  }
  .insta{
    
    margin-left: 1000px;

  }
 
 
