/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Includes padding and borders in width/height */
  }
  
  .body{
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-color: #f4dfcd;
    overflow-x: hidden; /* Prevent any overflow */
  }
  .container
  
  /* Navigation Bar */
  .nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures it stays above other elements */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space links evenly */
    padding: 0 20px; /* Add padding to the sides */
    width: 100%;
    height: 70px;
    margin-bottom:0px ;
    background: #cbac91;
  }
 .services-dropdown{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  background-color: #f4dfcd;
    
 /* background-color: rgba(255, 255, 255, 0.5); White with 50% transparency */
  margin-top: -293px;
 
  

  }
  .service-btn1,.service-btn2,.service-btn3{
    
    background-color: whitesmoke;
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 120px;
    margin-right: 80px;
  }
  